/* ****************************************************** */
/*          Title: FMC Home Page Stylesheet               */
/* ****************************************************** */

/* ********************************* */
/*  Global Styles
/* ********************************* */

/* FMC Material Input */
.m-label{
    cursor: text;
    position: absolute;
    z-index: 1;
    font-weight: 500;
    color: #b7b7b7;
    transition: all 0.15s ease-in-out;
}
.m-label.focus {
    font-size: 11px;
}
.m-input {
    border-radius: 0;
    padding: 15px 15px 3px 15px;
    height: 50px;
    outline: none;
    border: 1px solid #bbbbbb;
    -webkit-box-shadow: none !important;
    -moz-box-shadow: none !important;
    box-shadow: none !important;
    transition: all 0.15s ease-in-out;
}
.m-input:focus {
    border: 1px solid #22A1FF;
}

/* ********************************* */
/*  Header 
/* ********************************* */

/* Header Top */
.header-top {
    padding: 20px 30px 5px 30px;
    height: 70px;
}
.header-logo {
    width: 200px;
}
.header-logo img {
    height: 100%;
}
.header-search {
    border: 1px solid #d2d2d2;
    padding: 10px 35px 0 13px;
    font-size: 15px;
    top: 13px;
    left: 15px;
    outline: none;
    box-shadow: none;
}
.header-search-label {
    top: 14px;
    left: 15px;
}
.header-search-label.focus {
    top: 4px;
}
.header-search-icon {
    position: absolute;
    right: 10px;
    top: 12px;
    height: 20px;
    z-index: 999;
}
#triggerSearch {
    height: 20px;
    cursor: pointer;
}
.header-top-items {
    display: flex;
}
.header-top-items {
    height: 45px;
}
.header-logo,
.header-search-container,
.top-menu-small,
.header-search {
    height: 100%;
}
.header-top-menus {
    margin: auto;
    margin-right: 0;
}
.nav li > a {
    padding: 0 10px;
    font-size: 13px;
    color: #222;
    font-family: 'abrahamregular', Arial, sans-serif;
    letter-spacing: .8px;
}
.nav>li>a:focus, .nav>li>a:hover {
    background: transparent;
}
/* Header Mid */
.header-mid-menus {
    list-style-type: none;
    position: relative;
    float: left;
    left: 50%;
    transform: translateX(-50%);
}
.header-mid-menus li {
    float: left;
}
.header-mid-menus li a,
.header-mid-menus li > label {
    display: block;
    color: #222;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    margin-bottom: 0;
}
.header-mid-menus li a svg {
    margin-right: 5px;
}
.header-mid-menus .menu-icons {
    height: 21px;
    float: left;
}
/* Header Bottom */
.header-bottom {
    padding: 10px 0;
    height: 40px;
}
.header-bottom p {
    font-size: 13px;
}


/* ********************************* */
/*  Add to Cart Section
/* ********************************* */
.add-to-cart-section {
    background: #ebebeb;
    height: 540px;
    margin-top: 115px;
    z-index: 1;
}
.btn-style {
    color: inherit;
    border: none;
    padding: 10px;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: #fff;
    font-family: 'abrahamregular', Arial, sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    width: 75%;
    transition: background-color 0.15s ease-in-out;

}
.continue-shopping {
    background-color: #B7B7B7;
}
.view-cart {
    background-color: #3886d0;
}
.side-border {
    min-height: 170px;
    border-left: 1px solid #B7B7B7;
}
.prod-container {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
.small-img-wrapper {
    width: 110px;
    height: 70px;
    float: left;
    margin-right: 15px;
}
.small-img-wrapper img {
    width: 100%;
    height: 100%;
    float: left;
}
.prod-container a {
    text-decoration: underline;
}


/* ********************************* */
/*  Hero Section
/* ********************************* */

.hero-section {
    height: 500px;
    overflow: hidden;
}
.hero_video-container {
    z-index: -1;
}
.hero_video {
    height: 500px;
}
.hero_header {
    top: 35%;
}
.hero_header h1 {
    font-size: 38px;
}
.hero_header h2 {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 18px;
}
.hero_arrow {
    position: absolute;
    top: 80px;
    right: 20%;
    width: 100px;
}
.hero_search-vehicle {
    bottom: 30px;
    width: 80%;
}
.search-vehicle-container {
    background: #eeeeee;
    padding: 30px;
}
a.cant-find-vehicle:hover {
    color: #dddddd;
    text-decoration: none;
}


/* ********************************* */
/*  Shop Gear Section
/* ********************************* */

.shop-gear-section {
    border-bottom: 2px solid #C3C3C3;
}
/*
.sg_carousel-image-container {
    min-height: 244px;
    background: linear-gradient(#fff, #e0e0e0);
}
*/
.sg_carousel-title {
    font-size: 20px;
}
.sg_carousel-description,
.sg_carousel-price {
    margin: 0;
}
.sg_carousel-link:link,
.sg_carousel-link:visited,
.sg_carousel-link:active {
    outline: none;
    color: #222;
    -webkit-text-decoration: none;
            text-decoration: none;
}
.sg_carousel-link:hover {
    outline: none;
    color: #555;
    text-decoration: none;
}
.sg_carousel-link:hover img {
    -webkit-filter: brightness(1.25);
            filter: brightness(1.25);
}
.slick-slide:not(.slick-active) {
    opacity: 0.4;
}
.sg_carousel-prev,
.sg_carousel-next {
    cursor: pointer;
    position: absolute;
    background: #292929;
    opacity: 0.9;
    z-index: 1;
}
.sg_carousel-prev {
    left: 15%;
}
.sg_carousel-next {
    right: 15%;
}
.sg_carousel-buttons i.fa {
    padding: 10px 15px;
    font-size: 40px;
}



/* ********************************* */
/*  Shop by activity section
/* ********************************* */

/* Gallery items */
.sba_all-activity-types:hover {
    text-decoration: none;
    color: #333;
}
.sba_gallery.row-1,
.sba_gallery.row-2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sba_gallery.row-1 .sba_gallery-items {
    width: 49.5%;
    min-height: 374px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: linear-gradient(#fff, #e0e0e0);
}
.sba_gallery.row-2 .sba_gallery-items {
    width: 32.5%;
    min-height: 246px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: linear-gradient(#fff, #e0e0e0);
}
.sba_gallery-items p {
    font-size: 20px;
    position: absolute;
    left: 10%;
    top: 10%;
}
.sba_am_details {
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 30px 40px;
    top: 90%;
    box-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
}

/* AU manufacturer */
.sba_au-manufacturer {
    min-height: 450px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: linear-gradient(#fff, #e0e0e0);
}
.am_details-info {
    font-size: 17px;
    width: 80%;
    margin: 30px auto 20px auto;
}
.am_details-read-more {
    margin-top: 20px;
    color: #aaa;
}
.am_details-read-more:hover {
    text-decoration: none;
    color: #555;
}

/* About us */
.sba_about-us {
    position: relative;
    bottom: 50px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.sba_au_container {
    width: 49%;
    -ms-flex-item-align: center;
        align-self: center;
    min-height: 370px;
    background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#353535));
    background: linear-gradient(#808080, #353535);
}
.sba_au_detais {
    width: 60%;
}
.sba_au_detais h3 {
    font-size: 32px;
}
.sba_au_detais p,
.sba_au_detais a {
    font-size: 16px;
}
.sba_au_container img {
    width: 100%;
}
.au_best-retailer:hover {
    text-decoration: none;
    color: #EEEEEE;
}

/* ********************************* */
/*  Features section
/* ********************************* */

.features-section {
    padding-bottom: 20px;
}
.features_container .feature-item {
    position: relative;
    display: block;
    float: left;
    width: 25%;
    margin-bottom: 40px;
}
.feature-item img {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 50%;
    margin-bottom: 20px;
    min-height: 147px;
}
.feature-item p {
    text-align: center;
    width: 70%;
    margin: 0 auto;
    font-weight: 500;
}
.features_notes {
    margin-top: 35px;
}
.features_notes p {
    font-size: 14px;
    margin: 0;
    color: #A9A9A9;
}


/* ********************************* */
/*  Community Section
/* ********************************* */

.community_details {
    bottom: 120px;
    left: 50%;
    transform: translateX(-50%);
    width: 60%;
    padding: 30px 40px;
    top: 90%;
    box-shadow: 0 1px 1px #d0d0d0;
    -webkit-box-shadow: 0 1px 1px #d0d0d0;
}
.community_details-info {
    font-size: 17px;
    width: 80%;
    margin: 30px auto 20px auto;
}
.community_details-more p {
    font-size: 17px;
    width: 80%;
    margin: 25px auto;
}
.community_details-more {
    display: none;
}
.community_banner {
    min-height: 450px;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#e0e0e0));
    background: linear-gradient(#fff, #e0e0e0);
}
.community_more:link,
.community_more:active,
.community_more:visited {
    color: #aaa;
    text-decoration: none;
}
.community_more:hover,
.c_journal-more:hover {
    color: #333;
}
.j-container {
    position: relative;
    bottom: 50px;
}
.c_journal-section {
    background: #e8e8e8;
    height: 500px;
}


/* ********************************* */
/*  Instagram Section
/* ********************************* */

.instagram-section {
    padding-bottom: 20px;
}
.ig_title p,
.fmc-instagram {
    font-weight: 500;
    font-size: 17px;
    margin: 0;
}
.fmc-instagram:hover {
    text-decoration: none;
    color: #222;
}
.ig_note {
    font-size: 14px;
    color: #A9A9A9;
}
.ig_feeds-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ig_feeds {
    background: #fff;
    width: 24%;
    height: 300px;
}


/* ********************************* */
/*  Feefo Section
/* ********************************* */

.feefo-section {
    height: 200px;
    background: #ffff43;
}


/* ********************************* */
/*  Find Fit Section
/* ********************************* */

.ff_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.ff_items {
    width: 32%;
    min-height: 231px;
    background: -webkit-gradient(linear, left top, left bottom, from(#808080), to(#353535));
    background: linear-gradient(#808080, #353535);
}
.ff_details {
    width: 80%;
}
.ff_info {
    position: relative;
    display: block;
    margin: 0 auto;
    float: left;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
}
.ff_info img {
    width: 20px;
    margin-top: 5px;
    float: left;
}
.ff_info p {
    padding-left: 10px;
    display: inline;
    float: left;
}
.ff_details h4 {
    font-size: 23px;
}
.ff_details p {
    font-size: 17px;
}


/* ********************************* */
/*  Confidence Builder Section
/* ********************************* */

.confidence-builder-section {
    padding-bottom: 100px;
}
.cb_title {
    position: relative;
    display: inline-block;
    background: #fff;
    padding: 0 20px;
}
.cb_title-container:after {
    content: '';
    position: absolute;
    display: block;
    border-top: 2px solid #BDBDBD;
    width: 100%;
    top: 35px;
    z-index: -1;
}
.cb_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.cb_logo {
    position: relative;
    display: block;
    float: left;
    width: 40%;
    min-height: 130px;
}
.cb_logo img {
    width: 80%;
}
.cb_details {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
    width: 60%;
    padding: 0 10px;
}
.cb_details p {
    font-size: 16px;
    color: #A9A9A9;
    margin: 0;
}


/* ********************************* */
/*  Stay fitted section
/* ********************************* */

.stay-fitted-section {
    background: rgb(212, 212, 212);
    padding: 30px 0;
}
.sf_container h4 {
    font-size: 24px;
}
.email-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.email-container input {
    font-size: 18px;
    width: 60%;
    min-height: 50px;
    border-radius: 0 !important;
    outline: none;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}
.sf_get-updates {
    line-height: 30px;
    border-radius: 0 !important;
    background: #296acc;
    width: 40%;
    min-height: 50px;
    font-size: 18px;
}
.sf_get-updates:hover {
    color: #fff;
    background: #235baf;
}

/* ********************************* */
/*  Footer
/* ********************************* */
footer {
    height: 500px;
}


/* ********************************* */
/*  Media Queries
/* ********************************* */

/* Min and Max */
@media screen and (min-width: 1400px) and (max-width: 1700px) {
    .sg_carousel-prev {
        left: 15%;
    }
    .sg_carousel-next {
        right: 15%;
    }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {

}

@media screen and (min-width: 992px) and (max-width: 1300px) {
    .header-top-items:first-child {
        width: 200px;
        margin-right: 20px;
    }
    .top-menu-large {
        float: right;
        width: unset;
    }
    .header-top { 
        padding: 20px 20px 5px 20px;
    }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
    .hero_arrow {
        right: 14%;
    }
    .am_details-info,
    .community_details-info,
    .community_details-more p {
        width: 100%;
    }
    .feature-item {
        min-height: 215px;
    }
    .sba_gallery.row-1 .sba_gallery-items {
        min-height: 310px;
    }
    .sba_gallery.row-2 .sba_gallery-items {
        min-height: 203px;
    }
    .sba_au-manufacturer,
    .community_banner {
        min-height: 373px;
    }
    .sba_au_container {
        min-height: 307px;
    }
    .feature-item img {
        min-height: 121px;
    }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
    .feature-item {
        min-height: 215px;
        width: 33.33% !important;
    }
    .feature-item:nth-child(7) {
        left: 18% !important;
    }
    .feature-item:nth-child(8) {
        left: 18% !important;
    }
    .sba_gallery.row-1 .sba_gallery-items {
        min-height: 239px;
    }
    .sba_gallery.row-2 .sba_gallery-items {
        min-height: 157px;
    }
    .sba_au_container {
        min-height: 237px;
    }
    .sba_au-manufacturer, .community_banner {
        min-height: 288.4px;
        top: 110% !important;
    }
    .ff_items {
        min-height: 147.5px;
    }
    .feature-item img {
        min-height: 125px;
    }
}

@media screen and (min-width: 480px) and (max-width: 768px) {

}

/* Max only */
@media screen and (max-width: 1200px) {
    .sg_carousel-prev {
        left: 3%;
    }
    .sg_carousel-next {
        right: 3%;
    }
    .hero-section,
    .hero_video {
        height: 400px;
    }
}

@media screen and (max-width: 991px) {
    .top-menu-large {
        display: none;
    }
    .header-top-items:first-child {
        margin-right: 30px;
    }
    .header-top-items:first-child,
    .header-logo {
        width: 150px;
    }
    .header-logo img {
        width: 100%;
        height: unset;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
    .header-top-items:nth-child(2) {
        width: 58%;
    }
    .top-menu-small {
        width: unset;
        float: right;
    }
    .ms-actions-container {
        position: relative;
        display: block;
        height: 100%;
    }
    .ms-actions {
        height: 100%;
        margin-left: 30px;
    }
    .ms-actions:first-child {
        margin: 0;
    }
    .ms-actions a:link,
    .ms-actions a:visited,
    .ms-actions a:active {
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        transition: color 0.1s ease-in-out;
        color: #222;
    }
    .ms-actions a:hover {
        color: #555;
    }
    .ms-actions .fa {
        font-size: 30px;
    }
    .hero_search-vehicle {
        width: 90%;
    }
    .community_banner {
        margin-top: 0;
        margin-bottom: 240px;
    }
    .am_details-info,
    .community_details-info,
    .community_details-more p {
        width: 100%;
    }
    .sba_au_detais {
        width: 80%;
    }
    .sba_au_detais h3 {
        font-size: 29px;
    }
    .hero_header h1,
    .hero_header h2 {
        position: relative;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
    }
    .hero_header h1 {
        font-size: 40px;
        width: 80%;
        margin: 0;
    }
    .hero_header h2 {
        width: 70%;
    }
    .sba_am_details,
    .community_details {
        width: 90%;
    }
    .ig_feeds-container {
        position: relative;
        display: block;
    }
    .ig_title {
        text-align: center;
    }
    .ig_feeds {
        width: 49%;
        float: left;
        margin-bottom: 15px;
    }
    .ig_feeds:nth-child(odd) {
        margin-right: 1%;
    }
    .ig_feeds:nth-child(even) {
        margin-left: 1%;
    }
    .ig_note {
        width: 80%;
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .sf_container {
        width: 100%;
        text-align: center;
    }
    .email-container {
        position: relative;
        width: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .sf_container:first-child {
        margin-bottom: 25px;
    }

    /* Sidebar Menu  */
    .header-sidebar {
        background: #ebebeb;
        height: 100%;
        right: -400px;
        transition: all 0.15s ease-in-out;
        width: 400px;
        z-index: 999;
    }
    .sidebar-header {
        display: flex;
        background: #2e2925;
        padding: 0 0 0 15px;
    }
    .sidebar-actions .menu-icons .icon-search {
        stroke: #fff;;
    }
    .sidebar-close {
      width: 70%;
      left: 50%;
      transform: translateX(-50%);
    }
    .sidebar-close svg {
        position: relative;
        top: 1px;
    }
    .sidebar-search svg {
        position: relative;
        bottom: 1px;
        left: 2px;
    }
    .sidebar-logo-container {
        width: 50%;
    }
    .sidebar-actions-container {
        display: flex;
        width: 50%;
        padding: 20px 20px 0 20px;
        margin: 0;
        list-style-type: none;
    }
    .sidebar-actions {
        flex: 1;
        height: 100px;
        margin: auto;
        padding: 10px;
    }
    .sidebar-actions.active {
        background: #fff;
    }
    .sidebar-actions .fa {
        color: #fff;
        display: inline-block;
        font-size: 20px;
    }
    .sidebar-actions.active .fa {
        color: #2e2925;
    }
    .sidebar-cart .fa {
        font-size: 30px;
        position: relative;
        bottom: 4px;
        right: 3px;
    }
    .sidebar-body {
        overflow-y: scroll;
        max-height: 100vh;
    }
    .sidebar-list {
        width: 400px;
        padding: 0 0 110px 0;
        height: 100%;
    }
    .sidebar-items {
        background: #ebebeb;
        border-bottom: 1px solid #b5b5b5;
        transition: background-color 0.15s ease-in-out;
    }
    .sidebar-items:hover {
        background: #F9F9F9;
    }
    .sidebar-items .fa {
        left: 0;
        transition: all 0.15s ease-in-out;
    }
    .sidebar-items:hover .fa {
        left: 5px;
    }
    .sidebar-items a {
        color: #2e2925;
        font-size: 19px;
        text-transform: capitalize;
        text-decoration: none;
        padding: 20px 30px;
    }
    .sidebar-items.top-menus a {
        font-family: 'abrahamregular', 'Arial', sans-serif;
        text-transform: uppercase;
    }
    .sidebar-items .fa {
        position: relative;
        float: right;
        left: 0;
    }
    .sidebar-contents {
        position: fixed;
        width: 400px;
        height: 100%;
        background: #F9F9F9;
        padding: 40px;
        background: #F9F9F9;
        padding: 40px;
        right: -400px;
        transition: all 0.15s ease-in-out;
    }
    .header-sidebar.slideIn,
    .sidebar-contents.slideIn {
        right: 0;
    }
    .sidebar-contents-back {
        position: absolute;
        left: 0;
    }
    .sidebar-contents-back .fa {
        font-size: 25px;
        color: #2e2925;
    }
    .sidebar-content-header h5 {
        font-size: 20px;
    }
    .sidebar-content-btn {
        border: none;
        background: #2e2925;
        border-radius: 0;
        color: #fff;
        font-family: 'abrahamregular', 'Arial', sans-serif;
        font-size: 20px;
        padding: 15px;
        text-transform: uppercase;
    }
    /* Sidebar Search */
    .sidebar-search-btn {
        margin-top: 10px;
    }
    .sidebar-search-btn:focus {
        border-style: outset;
        outline: none;
    }
    #sidebar-search {
        font-size: 16px;
        padding-right: 45px;
    }
    .sidebar-search-label {
        top: 15px;
        left: 15px;
        font-size: 16px;
    }
    .sidebar-search-label.focus {
        top: 5px;
    }
    .sidebar-content-search {
        position: absolute;
        right: 10px;
        top: 15px;
    }
    .sidebar-content-search svg {
        width: 25px;
    }
    .sidebar-actions .icon-close,
    .sidebar-actions .icon-search {
        stroke: #fff !important;
    }
    .sidebar-actions.active .icon-close,
    .sidebar-actions.active .icon-search {
        stroke: #000 !important;
    }
    /* Sidebar Login */
    .sidebar-username-label,
    .sidebar-password-label {
        top: 15px;
        left: 15px;
        font-size: 16px;
    }
    .sidebar-username-label.focus,
    .sidebar-password-label.focus {
        top: 5px;
    }
    .sidebar-forgot-password-container {
        height: 40px;
        display: flex;
    }
    .sidebar-forgot-password {
        text-decoration: underline;
        margin: auto;
        font-size: 16px;
    }
    .sidebar-login-container .form-group:last-child {
        border-top: 1px solid #dedede;
        padding-top: 15px;
    }
    /* Account Details */
    .sidebar-content-header span {
        font-size: 20px;
    }
    .sidebar-ad-items {
        cursor: pointer;
        box-shadow: 0 6px 6px -6px #777;
        border: 1px solid #f3f3f3;
        width: 48%;
    }
    .sidebar-ad-items:hover {
        text-decoration: none;
    }
    .sidebar-ad-items:first-child {
        margin-right: 2%;
    }  
    .sidebar-ad-items:last-child {
        margin-left: 2%;
    }
    .sidebar-ad-items svg {
        position: relative;
        display: block;
        width: 60%;
        left: 45%;
        transform: translateX(-50%);
        padding: 10px;
        margin-bottom: 20px;
        height: 90px;
        width: 120px;
        height: 70px;
        width: 100px;
    }
    .ad-track-orders-title,
    .ad-update-email-title {
        margin: 0 0 5px 0;
        font-size: 18px;
    }
    .icon-truck2 {
        fill: #2d2d2d !important;
    }
    /* Forgot Password */
    .sidebar-contents .sidebar-contents {
        padding: 0 40px;
    }
    .sidebar-forgot-pass {
        z-index: 1;
    }
    .sidebar-forgot-pass-label {
        top: 15px;
        left: 15px;
        font-size: 16px;
    }
    .sidebar-forgot-pass-label.focus {
        top: 5px;
    }
    /* Create Account */
    .sidebar-create-account {
        z-index: 1;
    }
    .sidebar-ca-label {
        top: 15px;
        left: 15px;
        font-size: 16px;
    }
    .sidebar-ca-label.focus {
        top: 5px;
    }
    /* Get Help */
    .sidebar-help-items {
        cursor: pointer;
        box-shadow: 0 6px 6px -6px #777;
        border: 1px solid #f3f3f3;
        width: 48%;
        min-height: 140px;
        margin-bottom: 20px;
    }
    .sidebar-help-items:nth-child(1),
    .sidebar-help-items:nth-child(2) {
        min-height: 195px;
    }
    .sidebar-help-items:hover {
        text-decoration: none;
    }
    .sidebar-help-items:nth-child(odd) {
        margin-right: 2%;
    }  
    .sidebar-help-items:nth-child(even) {
        margin-left: 2%;
    }
    .sidebar-help-items svg {
        position: relative;
        display: block;
        width: 60%;
        left: 50%;
        padding: 10px;
        height: 90px;
        width: 120px;
        height: 60px;
        width: 100px;
        margin-bottom: 10px;
        transform: translateX(-50%);
    }
    .help-call-title,
    .help-chat-title,
    .help-faq-title,
    .help-track-order-title,
    .help-email-title {
        margin: 0 0 5px 0;
        font-size: 17px;
    }
    /* More */
    .sidebar-more {
        position: absolute;
        height: 180vh;
        padding: 0;
    }
    .sidebar-more .sidebar-contents-back {
        margin-left: 25px;
    }
    .sidebar-more-items {
        border-bottom: 1px solid #b5b5b5;
    }
    .sidebar-more-items a:link,
    .sidebar-more-items a:visited,
    .sidebar-more-items a:active {
        color: #2e2925;
        font-size: 19px;
        text-transform: capitalize;
        text-decoration: none;
        transition: color 0.15s ease-in-out;
        padding: 20px 0 20px 25px;
    }
    .sidebar-more-items a:hover {
        color: #555;
    }
    .sidebar-more-items.top-more-menus a {
        font-family: 'abrahamregular', 'Arial', sans-serif;
        text-transform: uppercase;
    }

}

@media screen and (max-width: 767px) {
    .header-top {
        padding: 20px 30px 20px 30px
    }
    .header-top-items {
        height: 100%;
    }
    .sidebar-actions {
        position: relative;
        bottom: 8px;
        float: left;
        padding: 10px;
        height: 60px;
    }
    .sidebar-actions:first-child {
        margin: 0;
    }
    .sidebar-actions:nth-child(2) {
        margin-left: 7px;
    }
    .sidebar-actions:last-child {
        margin-left: 7px;
        position: relative;
        bottom: 8px;
        height: 60px;
    }
    .sidebar-close {
        width: 100%;
    }
    .ms-search svg {
      position: relative;
      display: block;
      float: left;
      width: 30px;
      top: 2px;
      left: 10px;
    }
    .ms-actions .fa {
        position: relative;
        bottom: 2px;
    }
    .header-sidebar {
        width: 100%;
        right: -100vw;
    }
    .sidebar-header {
        padding: 0 30px 0 30px;
    }
    .sidebar-logo-container {
        width: unset;
    }
    .sidebar-logo-container img {
        position: relative;
        width: 150px;
        top: 2px;
    }
    .sidebar-actions-container {
        position: absolute;
        display: block;
        float: right;
        width: unset;
        right: 0;
    }
    .sidebar-list {
        width: 100%;
    }
    .sidebar-contents {
        width: 100%;
        right: -100vw;
    }
    .sidebar-actions svg {
        position: relative;
        display: block;
        float: left;
    }
    .sidebar-close svg {
        width: 23px;
        top: -1px;
        right: 2px;
    }
    .sidebar-cart .fa-shopping-cart {
        bottom: 5px;
        right: 3px;
    }
    .sidebar-search svg {
        width: 30px;
    }
    .sidebar-content-search {
        top: 13px;
        right: 7px;
    }
    .sidebar-content-search svg {
        left: 0;
        top: 0;
    }
    .header-top-items:first-child {
        margin-right: 0;
    }
    /* Account Details */
    .sidebar-ad-items {
        width: 48%;
    }
    .sidebar-ad-items:first-child {
        margin-right: 3%;
    }  
    .sidebar-ad-items:last-child {
        margin-left: 3%;
    }
    .sidebar-ad-items svg {
        height: 65px;
        width: 100px;
    }
    /* Get Help */
    .sidebar-help-items:nth-child(1), 
    .sidebar-help-items:nth-child(2) {
        min-height: 160px;
    }
    /* More */
    .sidebar-more {
        height: 250vh;
    }
   



    .slick-prev {
        left: 5% !important;
    }
    .slick-next {
        right: 8% !important;
    }
    .features_container .feature-item {
        width: 50%;
    }
    .shop-by-activity-section,
    .features-section,
    .find-fit-section,
    .confidence-builder-section,
    .stay-fitted-section,
    .community-section {
        padding: 50px 15px;
    }
    .sba_gallery {
        display: block !important;
    }
    .sba_gallery {
        margin: 0;
    }
    .sba_gallery-items {
        width: 100% !important;
        margin-bottom: 15px;
    }
    .sba_gallery.row-1 .sba_gallery-items,
    .sba_gallery.row-2 .sba_gallery-items {
        min-height: unset;
    }
    .sba_gallery-items p {
        font-size: 27px;
    }
    .sba_au-manufacturer,
    .community_banner {
        margin-bottom: 0;
        min-height: unset;
    }
    .sba_am_details,
    .community_details {
        bottom: 30px;
        margin-bottom: 50px;
        padding: 30px 20px;
    }
    .sg_carousel-title {
        font-size: 25px;
        margin-bottom: 0;
    }
    .sg_carousel-price {
        font-size: 18px;
    }
    .sba_about-us {
        bottom: 20px;
        display: block;
    }
    .sba_au_container {
        width: 100%;
        margin-bottom: 15px;
        min-height: unset;
    }
    .sba_au_detais span {
        font-size: 19px;
    }
    .sba_au_detais p {
        font-size: 18px;
    }
    .sba_au_detais h3 {
        font-size: 30px;
    }
    .au_best-retailer {
        margin-top: 30px;
    }
    .c_journal-more {
        padding-right: 15px;
    }
    .instagram-section,
    .ff_container {
        padding: 15px;
    }
    .home-section-title {
        margin-bottom: 30px;
    }
    .ff_container,
    .cb_container {
        display: block;
    }
    .confidence-builder-section {
        padding-bottom: 30px;
    }
    .cb_title-container {
        margin-bottom: 50px;
    }
    .ff_items,
    .cb_items {
        min-height: unset;
        position: relative;
        width: 80%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .cb_details p {
        font-size: 19px;
    }
    .ff_items {
        margin-bottom: 15px;
    }
    .cb_logo {
        width: 100%;
        min-height: unset;
        margin-bottom: 15px;
    }
    .cb_items {
        margin-bottom: 50px;
    }
    .cb_logo img {
        position: relative;
        width: 40%;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .cb_details {
        position: relative;
        top: 0;
        left: 0;
        -webkit-transform: unset;
                transform: unset;
        float: left;
        width: 100%;
        text-align: center;
    }
    .sf_container h4 {
        font-size: 30px;
    }
    .sf_container p {
        position: relative;
        font-size: 18px;
        width: 70%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
    .email-container {
        display: block;
    }
    .email-container input {
        width: 100%;
        text-align: center;
    }
    .sf_get-updates {
        width: 100%;
        left: 50%;
        -webkit-transform: translateX(-50%);
                transform: translateX(-50%);
    }
}

@media screen and (max-width: 480px) {
    .features_container .feature-item {
        width: 100%;
    }
    /* Sidebar */
    .sidebar-help {
        position: absolute;
        height: unset;
    }
    .sidebar-help-items {
        width: 100%;
        min-height: 120px;
    }
    .sidebar-help-items svg {
        height: 60px;
        margin-bottom: 10px;
    }
    .sidebar-help .sidebar-content-header {
        margin-bottom: 30px;
    }
    .sidebar-ad-items {
        min-height: 215px;
    }
}

@media screen and (min-width: 1300) {
    .top-menu-small {
        display: none;
    }
}

/* Menu SVG Icons Styles */
.menu-icons .icon-search{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.menu-icons .icon-details{fill:#ebebeb;}
.menu-icons .icon-email{fill:#ebebeb;}.icon-email2{stroke:#000;stroke-miterlimit:10;stroke-width:1.5px;}
.menu-icons .icon-faq{fill:#ebebeb;}.icon-faq2{fill:#2e2925;}
.menu-icons .icon-interests{fill:#ebebeb;}
.menu-icons .icon-fmc-logo{fill:#2e2a25;}.icon-fmc-logo2{fill:#457cbf;}
.menu-icons .icon-live-chat{fill:none;stroke:#2e2925;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.menu-icons .icon-login-keys,.icon-login-keys2,.icon-login-keys3{fill:none;stroke:#000;stroke-width:2px;}.icon-login-keys,.icon-login-keys2{stroke-miterlimit:10;}.icon-login-keys2,.icon-login-keys3{stroke-linecap:round;}.icon-login-keys3{stroke-linejoin:round;}
.menu-icons .icon-phone{fill:#ebebeb;}.icon-phone2{fill:none;stroke:#2e2925;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
.menu-icons .icon-truck{fill:#ebebeb;}.icon-truck2{fill:#447bbf;}.icon-truck3{fill:none;}
.menu-icons .icon-update-vehicle{fill:#ebebeb;}
.menu-icons .icon-close{fill:none;stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}